.products {
  background-color: var(--color-gray-5);
}

.products .products__container {
  padding: 3.2rem;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  justify-items: center;
  gap: 4.2rem;
}

.products__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
  column-gap: 2.6rem;
}

.products__count {
  flex: 1;
  color: var(--color-gray-2);
  font-size: 1.6rem;
}
