.products {
  background-color: var(--color-gray-5);
}

.products .products__container {
  padding: 3.2rem;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  justify-items: center;
  gap: 4.2rem;
}

.products__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
  column-gap: 2.6rem;
}

.products__count {
  flex: 1;
  color: var(--color-gray-2);
  font-size: 1.6rem;
}
.footer_class{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 30px;
  border-bottom: solid 1px var(--color-primary);
}
.footer_class > a{
  color: var(--color-gray-3);
  text-decoration: none;
}
.footer_class > a:hover{
  color: var(--color-white);
}
.footer_links > i{
  border-right: 30px;
}
.rights{
  text-align: center;
}
@media (max-width:800px){
  .footer_class{
    flex-direction: column;
    align-items: center;
  }
}